p {
  color: azure;
}
.contact-card {
  display: flex;
  flex-direction: row;
  width: 20em;
  max-width: 300 px;
  max-height: 100 px;
  gap: 10px;
  padding: 10px;
  background-color: grey;
  border-radius: 5%;
}

.name {
  font-weight: bold;
}

.profile-pic {
  border-radius: 50%;
  max-width: 150px;
  max-height: 150px;
}
